<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <link href="/css/TopMenu_Sub.css" th:href="@{/css/TopMenu_Sub.css}" rel="stylesheet"></link>
   <script type="text/javascript" th:src="@{/js/WebComponent.js}"></script>
   <title>BMIチェックプログラム</title>
</head>
<body>
   <h1>復習編～BMIチェック～</h1>
   <p>
      <font size="5">身長と体重を記入してBMIを知ろう☆</font>
   </p>
   <form method="get" action="bmiform">
      <p>
         男性<input type="radio" name="sex" value="0" checked="checked"/>
         女性<input type="radio" name="sex" value="1" />
      </p>
      <p>
         体重<input type="number" step="0.01" min="0" max="200" name="weight" />(kg)　÷　身長<input type="number" step="0.01" min="0" max="10" name="height" />(m)
         <font size="3">の２乗</font>
         <br>
         <br>
         <input type="submit" value="BMIチェック！" style="width:330px;height:50px">
      </p>
      <table border="1" style="border-collapse: collapse"><tr><td>
      男性のBMI判定基準
      <table border="1" style="border-collapse: collapse">
         <tr>
            <th>BMI値</th>
            <th>判定</th>
         </tr>
         <tr>
            <td>19未満</td>
            <td>痩せ気味</td>
         </tr>
         <tr>
            <td>19～25未満</td>
            <td>普通</td>
         </tr>
         <tr>
            <td>25～30未満</td>
            <td>肥満傾向</td>
         </tr>
         <tr>
            <td>30～40未満</td>
            <td>肥満</td>
         </tr>
         <tr>
            <td>40以上</td>
            <td>重度な肥満</td>
         </tr>
      </table>
      <!-- <br> -->
      </td>
      <td valign="top">
      女性のBMI判定基準
      <table border="1" style="border-collapse: collapse">
         <tr>
            <th>BMI値</th>
            <th>判定</th>
         </tr>
         <tr>
            <td>18未満</td>
            <td>痩せ気味</td>
         </tr>
         <tr>
            <td>18～24未満</td>
            <td>普通</td>
         </tr>
         <tr>
            <td>24～30未満</td>
            <td>肥満傾向</td>
         </tr>
         <tr>
            <td>30～40未満</td>
            <td>肥満</td>
         </tr>
         <tr>
            <td>40以上</td>
            <td>重度な肥満</td>
         </tr>
      </table>
      </td></tr></table>
      <br>
   </form>
   <form method="get" action="topmenu">
      <input type="submit" value="TOPメニューへ戻る">
   </form>
</body>
</html>