<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <link href="/css/TopMenu_Sub.css" th:href="@{/css/TopMenu_Sub.css}" rel="stylesheet"></link>
   <script type="text/javascript" th:src="@{/js/WebComponent.js}"></script>
   <title>財布の金種確認</title>
</head>
<body>
   <h1>財布の中のお金の金種をチェック</h1>
   <p>
      <font size="4">所持金の枚数は、、</font>
   </p>
   <form method="get" th:action="@{/saifuOutForm}" th:object="${saifuForm}">
      <p>
         <span th:each="kinshuInt : ${Atai1}"></span>円が
         <span th:each="maisuInt : ${Atai2}"></span>枚<br>
      <p><input type="submit" value="計算をやり直す↩" name="saifuOutBack" style="width:130px;height:50px"></p>
   </form>
   <br>
      <input type="submit" value="TOPメニューへ戻る" name="topBackSaifu">
</body>
</html>