<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/TopMenu_Sub.css" th:href="@{/css/TopMenu_Sub.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/js/WebComponent.js}"></script>
<title>学期末テスト</title>
</head>
<body>
	<h1>テストの点数を計算</h1>
	<p ><font size="5">各教科の点数を入れてください</font></p>
	<form method="get" th:action="@{/testInpForm}" th:object="${testForm}">
	<p>国語<input type="text" name="atai1" oninput="value = value.replace(/[^0-9]+/i,'');" /></p>
	<p>社会<input type="text" name="atai2" oninput="value = value.replace(/[^0-9]+/i,'');" /></p>
	<p>理科<input type="text" name="atai3" oninput="value = value.replace(/[^0-9]+/i,'');" /></p>
	<p>数学<input type="text" name="atai4" oninput="value = value.replace(/[^0-9]+/i,'');" /></p>
	<p>英語<input type="text" name="atai5" oninput="value = value.replace(/[^0-9]+/i,'');" /></p>
	<br>
	<p>合計点<input type="radio" name="komk" value="0" /></p>
	<p>平均点<input type="radio" name="komk" value="1" /></p>
	<p>
	<input type="submit" value="確認" style="width:100px;height:50px"></p>
	</form>
	<form action="http://localhost:8080/TopMenu">
	<input type="submit" value="TOPメニューへ戻る">
	</form>
</body>
</html>