<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link href="/css/TopMenu_Sub.css" th:href="@{/css/TopMenu_Sub.css}" rel="stylesheet"></link>
<title>TOPメニュー</title>
</head>
<body>
	<h1>Topメニュー</h1>
	<br>
	<p><a href="demo.html" th:href="@{/demo}">デモページ1</a><br></p>
	<p><a href="demo_thy.html" th:href="@{/demo/thy}">デモページ2</a><br></p>
	<p><a href="Text.html" th:href="@{/Text}">復習コース</a><br></p>
	<p><a href="GakusyuInp.html" th:href="@{/GakusyuInp}">計算問題コース</a><br></p>
	<p><a href="BmiInp.html" th:href="@{/BmiInp}">BMI測定コース</a><br></p>
	<p><a href="WebComponent.html" th:href="@{/WebComponent}">Webプロジェクトコース</a><br></p>
	<p><a href="MemoInp.html" th:href="@{/memoInp}">メモアプリ</a><br></p>
</body>
</html>