<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link href="/css/TopMenu_Sub.css" th:href="@{/css/TopMenu_Sub.css}" rel="stylesheet"></link>
<title>TOPメニュー</title>
</head>
<body>
	<h1>Topメニュー</h1>
	<br>
	<p><a href="http://localhost:8080/demo">デモページ1</a><br></p>
	<p><a href="http://localhost:8080//demo/thy">デモページ2</a><br></p>
	<p><a href="http://localhost:8080/Text">復習コース</a><br></p>
	<p><a href="http://localhost:8080/GakusyuInp">計算問題コース</a><br></p>
	<p><a href="http://localhost:8080/BmiInp">BMI測定コース</a><br></p>
	<p><a href="http://localhost:8080/WebComponent">Webプロジェクトコース</a><br></p>
</body>
</html>